{% extends './layout.html' %}
{% block title %}Users Index{% endblock %}
{% block head %}
{% load static %}
<script src="{% static '/users/js/show.js' %}"></script>
{% endblock %}

{% block body %}
        <h1>Users Index</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Permission Level</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><a class="show" href="{% url 'users:show' user_id=user.id %}">{{ user.name }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.permission_level }}</td>
                    <td>
                        <a href="/users/{{ user.id }}/edit" class="button">Edit User</a>
                        <form action="/users/{{ user.id }}/delete" method="post">
                            {% csrf_token %}
                            <!-- <input type="submit" value="Delete User"> -->
                            <button class="btn btn-primary btn-sm" type="submit" name="submit" value="Delete User">Delete User</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}